@saber:registry=https://center.javablade.com/api/packages/blade/npm/
//center.javablade.com/api/packages/blade/npm/:_authToken=4712e913a5d9da98d59d9352b839e74e0203f39f

@nutflow:registry=https://git.nutflow.vip/api/packages/blade-workflow/npm/
//git.nutflow.vip/api/packages/blade-workflow/npm/:_authToken=88c20cc2323b7261bd7a55bf4fb5118fd050bce7

engine-strict = true